<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white border border-gray-200 rounded-lg p-5 shadow-lg w-96">

    <h2 class="text-2xl font-bold capitalize">Chequeo de ADN Mutante</h2>

    <form [formGroup]="dnaform" (ngSubmit)="checkDna()">
      <div>
        <textarea formControlName="dnaSequence" placeholder="Ingrese la secuencia de ADN (una fila por línea)" rows="6"
          class="lock p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 "></textarea>
      </div>

      <div>
        <button type="submit" [disabled]="dnaform.invalid"
          class="focus:outline-none text-white  bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-bold rounded-lg text-sm px-5 py-2.5 me-2 mb-2 cursor-pointer">Chekear</button>
      </div>
    </form>

    

      @if (result()!== null) {
        <P class="mt-4">Resultado: {{result() ? 'Es Mutante' : 'No es Mutante'}}</P>
      }
  

  </div>
</div>